.journeys-content {
    margin-top: 20px;
}

.journeys-grid {
    display: grid;
    grid-template-columns: 100fr 100fr 100fr 100fr 100fr 100fr 100fr 100fr;
    grid-template-rows: repeat(21, 100fr);
    height: calc(100vh - 250px);
    border: 1px solid grey;
}

.journeys-data {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}