.station-content>* {
    margin-top: 20px;
}

.station-name {
    font-size: 23px;
}

.station-name-title-info {
    font-weight: bold;
}

.station-map-wrapper {
    width: 500px;
    height: 500px;
}

.station-map-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 0;
    height: 50;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid red;
    font-size: 25px;
}